body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    background-image: url(./assets/images/mario-background-wqhd-1440p-wallpaper.jpg);
    background-size: cover;
    background-position: bottom;
}

.link:hover {
    cursor: pointer;
    color: #3e3e3e;
}

#gameBoard {
    font-size: 1.7rem;
    font-family: 'Roboto', sans-serif;
    position: relative;
    max-width: 800px;
    max-height: 800px;
    width: 80vw;
    height: 80vw;
    background: rgba(120, 120, 120, 0.3);
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

@font-face {
    font-family: 'MarioFont';
    src: url("./assets/fonts/SuperPlumberBrothers-y00V.ttf")
}

#gameRoomName {
    font-family: MarioFont, sans-serif;
    padding: 20px;
    text-align: center;
    font-size: 2.7rem;
    color: #fff;
    letter-spacing: 3px;
}

.wait-for-player {
    position: absolute;
    font-family: MarioFont, sans-serif;
    color: #fff;
    letter-spacing: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
}

.gameCell {
    border: 1px solid black;
}

#charSelect {
    display: none;
}

#gameStartModal, #gameOverModal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(20, 20, 20, 0.8);
}

#gameStartModal {
    display: flex;
}

#gameOverModal {
    display: none;
    font-family: MarioFont, sans-serif;
    color: #fff;
}

.gameWinner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.gameWinner p {
    font-size: 2.6rem;
    transition: 1s all ease;
    position: relative;
    opacity: 0;
    letter-spacing: 3px;
}

.gameWinner img {
    position: relative;
    transition: top 0.4s ease-in;
    top: -100vh;
}

#charSelect, #roomSelect {
    width: 90%;
    height: 40vh;
    max-width: 600px;
    background-color: #e3e3e3;
    /*background: url("./assets/images/325-3256047_bricks-wall-8-bit-super-mario-brick-hd.png") center;*/
    /*background-size: 200%;*/
}

#roomSelect {
    display: flex;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

.joinCreateSwitch {
    position: absolute;
    top: 0;
    right: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

#roomList {
    list-style-type: none;
    overflow-y: scroll;
    width: 55%;
    min-height: 20%;
}

#roomList li {
    margin-bottom: 10px;
}

#createRoom, #existingRooms {
    position: relative;
    width: 100%;
    height: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#existingRooms {
    display: flex;
}

#createRoom {
    display: none;
}

#createRoom h2 {
    margin-bottom: 10px;
}

#createRoom button,
#charSelect button {
    min-width: 160px;
    padding: 5px;
    border-radius: 5px;
    border: 0;
    color: #fff;
    background: #049cd8;
    font-size: 1.2rem;
}

#createRoom button:hover,
#charSelect button:hover {
    cursor: pointer;
    background-color: #1a73e8;
}

#createRoom input {
    min-width: 215px;
    border: 2px solid rgba(120,120,120, 0.6);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 12px;
    background: rgba(255,255,255, 0.8);
}

#charSelect {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.roomFullMessage, .roomTakenMessage {
    text-align: center;
}

.error-message {
    border: 1px solid red;
    padding: 20px;
    position: absolute;
    top: 7%;
    width: 70%;
    transform: translateX(-50%);
    color: red;
}

#playerContainer {
    z-index: -1;
    display: flex;
    justify-content: center;
    position: relative;
}

.playerIndicator {
    width: 26vw;
    height: 20vw;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.playerIndicatorBackground {
    background-color: rgba(10,120,200,0.3);
}

input[disabled=disabled] ~ label {
    color: red;
}

#playerSelectContainer {
    display: flex;
    flex-wrap: wrap;
}

#playerSelectContainer p {
    position: relative;
    width: 50%;
}

#playerSelectContainer p input {
    width: 50px;
    height: 50px;
    visibility: hidden;
    margin: 0;
    z-index: 1;
    position: absolute;
    top: -50px;
}

#playerSelectContainer p label {
    position: absolute;
    height: 60px;
    width: 60px;
    top: -60px;
    border: 2px solid transparent;
}

#playerSelectContainer p input ~ label {
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

#playerSelectContainer p input[value='1'] ~ label {
    background-image: url(./assets/images/Mario.png);
}

#playerSelectContainer p input[value='2'] ~ label {
    background-image: url(./assets/images/Masthead_luigi.17345b1513ac044897cfc243542899dce541e8dc.9afde10b.png);
}

#playerSelectContainer p input:checked ~ label {
    border-color: yellow;
}

#playerSelectContainer p input[disabled='disabled'] ~ label {
    opacity: .5;
}

#playerSelectContainer p:nth-child(2) label,
#playerSelectContainer p:nth-child(2) input {
    right: 0;
}

@media screen and (max-width: 550px){
    #roomSelect {
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    #gameBoard {
        width: 60vw;
        height: 60vw;
    }

    #playerContainer {
        top: -38vw;
    }

    .playerIndicator {
        width: 15vw;
        height: 15vw;
    }

    .playerIndicator[player='2'] {
        margin-left: 0;
    }

    #spacer {
        width: 60vw;
        max-width: 800px;
    }
}