#gameBoard {
    max-width: 800px;
    max-height: 800px;
    width: 60vw;
    height: 60vw;
    background: beige;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.gameCell {
    border: 1px solid black;
}

#charSelectModal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(20, 20, 20, 0.5);
}

#charSelect {
    width: 40vw;
    height: 40vh;
    background: #e3e3e3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[disabled=disabled] ~ label {
    color: red;
}